{{block "Project" .}}
<div id="project" hx-swap-oob="true">
  <section><h2>{{ .Name }}</h2></section>
  <section>{{ template "NewKeyForm" .}}</section>
  <section>
    <h3>Keys</h3>
    {{ range $id,$key := .KeysById}}
    <div class="key">
      <div class="key-id">{{ $id }}</div>
      <div class="key-translations">
        {{ range $_, $translation := $key.TranslationsById }}
        <div class="key-translation">
          <div class="key-translation-id">{{ $translation.Id}}</div>
          {{ template "TranslationForm" $translation}}
        </div>
        {{ end }}
      </div>
    </div>

    {{ end }}
  </section>

  <section>
    <h2>History</h2>
    {{template "History" .History}}
  </section>
</div>

<style>
  .key {
    padding: 0.75rem;
    border-bottom: 0.1rem solid var(--fg);

    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .key-translation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
</style>

<style>
  /* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
  .grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";

    /* This is how textarea text behaves */
    white-space: pre-wrap;

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;

    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }
</style>
{{end}}
